@import "./utils/variables";
@import "./utils/basic";
@import "./components/logo";
@import "./components/socials";
@import "./components/btn";
@import "./components/modal";
@import "./components/header";
@import "./components/footer";
@import "./components/webstudio";
@import "./components/portfolio";
@import "./components/mobile-menu";
