.footer {
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $darkBackgroundColor;
  &__conteiner {
    display: flex;
    text-align: center;
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
    //  justify-content: space-between;
  }
  &__logo {
    display: inline-block;
    margin-bottom: 20px;
    color: $snowWhiteColor;
  }
}
.connect {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  &__link {
    font-style: normal;
    display: inline-block;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:focus,
  &__link:hover {
    color: $altTextColor;
  }
  &__link--map {
    margin-bottom: 9px;
    color: $snowWhiteColor;
  }
  &__items:nth-child(2) {
    margin-bottom: 9px;
  }
}

.networks {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  // margin-top: 9px;
  &__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $snowWhiteColor;
  }
}

.socials__items--networks:not(:first-child) {
  margin-left: 10px;
}

.subscribe {
  // margin-top: 9px;
  &__call {
    display: inline-block;
    margin-bottom: 20px;
    color: $primalBackgroundColor;
    line-height: 1.14;
    text-transform: uppercase;
  }
  &__form {
    display: flex;
    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__input {
    @media screen and (max-width: 767px) {
      width: 450px;
      height: 50px;
      margin-bottom: 20px;
    }
    padding-left: 16px;
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;
    outline: none;
    font-size: 16px;
    line-height: 1.25;
    color: $altBackgroundColor;
    transition: border-color 250ms cubic--bezier(0.4, 0, 0.2, 1);
  }
  &__input:focus {
    border-color: $altTextColor;
  }
  &__input::placeholder {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 0;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }
  &__button {
    margin-left: 12px;
    padding: 10px 28px;
    width: 200px;
  }
  .btn__icon--subscribe {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
}
