// Text colors
$primalTextColor: #757575;
$tittleTextColor: #212121;
$altTextColor: #2196f3;
$snowWhiteColor: #ffffff;
// Backgroun colors
$primalBackgroundColor: #ffffff;
$altBackgroundColor: #f5f4fa;
$darkBackgroundColor: #2f303a;
$buttonBackgrounColor: #2196f3;
// Fonts sizes
$primalFontSize: 14px;
$titleFontSize: 44px;
$primalLetterSpacing: 0.03em;
